@import '../shared/_fieldset-legends.pcss';
@import '../shared/_field-widths.pcss';
@import '../shared/_descriptions.pcss';
@import '../shared/_inputs.pcss';
@import '../shared/_buttons.pcss';

.gform_wrapper fieldset {
	border: none;
	padding: 0;
}
