
//CTA block
.dgwltd-block--cta {

    .dgwltd-cta__inner {
      
    }

    .dgwltd-cta__content {
      text-align: left;
      h2 {
        @extend %dgwltd-heading-xl;
      }
    }


    &.has-image {
      .dgwltd-cta__inner {
        padding: 0;
        display: flex;
        flex-direction: column;
        @include mq($from: tablet) {
          flex-direction: row;
        }
      }
      .dgwltd-cta__image {
        @include mq($from: tablet) {
          flex-basis: 50%;
        }
        margin: 0;
        .frame {
          display: flex;
          --x: 4;
          --y: 3; 
        }
        &.transform {
          transform: rotate(5deg); 
          position: relative;
          flex-basis: calc(50% - 6rem);
          .frame {
            &:after {
              content: "";
              border-radius: var(--radius);
              background-color: var(--border-dark);
              width: 100%;
              height: 100%;
              position: absolute;
              left: 1.8rem;
              top: 1.8rem;
              z-index:1;
            }
          }
          img {
            z-index:2;
            border-radius: var(--radius);
            width:100%;
          }
          
        }
      }
      .dgwltd-cta__content {
        padding: var(--gap-20) 0;
        @include mq($from: tablet) {
          text-align: left;
          flex-basis: 50%;
          padding: 0 var(--gap-40) 0 0;
        }
      }
    }
    
    .dgwltd-button {
      margin:0;
    }

  
    //Reversed
    &[data-state='reversed'] {
      .dgwltd-cta__inner {
        flex-direction: row-reverse;
      }
      .dgwltd-cta__image {
        &.transform {
          align-items: flex-start;
          transform: rotate(-5deg); 
          margin-right: auto;
        }
      }
      .dgwltd-cta__content {
        @include mq($from: tablet) {
          padding: 0 0 0 var(--gap-40);
        }
      }
    }
  
  }