/*
* Hide hidden fields.
*
* Used in the base.css front-end stylesheet.
*/

.gform_wrapper {
	.gf_hide_ampm .gfield_time_ampm {
		display: none !important;
	}

	.gfield_visibility_hidden,
	.gf_invisible {
		visibility: hidden;
		position: absolute;
		left: -9999px;
	}

	.gf_hide_charleft div.charleft {
		display: none !important;
	}

	.gform_hidden {
		display: none;
	}
}