/*
* The base styles required for form functionality.
*
* Used in the base.css front-end stylesheet.
*/

@import "../variables/index.pcss";
@import "../shared/_icons-theme.pcss";
@import "_functional.pcss";
